body {
  width: 600px;
  margin: 0 auto;
  background-color: #E5E5E5;
  padding: 100px 20px 20px 20px;
  font-family: 'Special Elite', cursive;
  font-size: 12pt;
  text-align: left;
  line-height: 180%;

}
