div {
    float: left;
    padding: 0%;
}

.square {
    background: #1E1E1E;
    width: 50vw;
    height: 50vw;
}
.square2 {
    background: gray;
    width: 25vw;
    height: 25vw;
}
.square3 {
    background: white;
    width: 25vw;
    height: 25vw;
}

body {
background-color: black;
padding: 50px 50px 50px 50px;
}
